body {

    background-color: #333333;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    padding: 30px;

}

a {

    color: yellow;

}

h1 {

    font-size: 72px;

}

table {
    background-color: darkkhaki;
    color: black;
}
