body {

background-color:blue;
color: blanchedalmond;
font-family: fantasy;
padding: 44px;
}


a {


color: chartreuse;

}

h1 {


font-size: 72px;



}
table {

background-color: brown

color: chocolate

}


